body
{
  margin: 0;
}

div
{

}

h1.txt
{
  width: 750px;
  margin: 0;
  color: transparent;
  font-weight: bold;
  font-size: 10em;
  font-family: fantasy;
  letter-spacing: 10px;
  background-image: url("1.jpg");
  background-size: cover;
  background-position: bottom;
  background-clip: text;
  -webkit-background-clip: text;
}

div.big_container
{
  padding: 0 30px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
}

div.container
{
  transition: 3s;
  opacity: 0;
}

.show
{
  opacity: 1 !important;
}

canvas.canvas
{
  border: 2px solid white;
}

button.btn
{
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 0 10px white;
  margin-top: 15px;
}

button.btn:active
{
  transform: scale(0.95);
  transition: 0.2s;
  box-shadow: none;
}
